/* ModelPage.module.css */
.outerContainer {
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
}

.content {
  flex: 1;
  padding: 10px; /* Example padding, adjust as needed */
}

.header {
  padding: 10px 20px;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.commentsContainer {
  padding: 10px;
  height: 300px;
  overflow-y: scroll;
}

.commentBox {
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  align-items: center;
  font-size: 1.2rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.userInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  width: 120px;
}

.userName {
  color: #2563eb;
  font-weight: bold;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
}

.profilePic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 5px;
}

.newCommentForm {
  margin-bottom: 20px;
}

.commentInput {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.submitButton {
  background: #2563eb;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.voteContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.voteButton {
  border: none;
  background: none;
  cursor: pointer;
}

.voteCount {
  margin-top: 4px;
}