/* styles.css or equivalent */
.hideScrollbar {
    overflow-y: scroll;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer 10+ */
  }
  
  .hideScrollbar::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
  }